body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
  overflow-y: scroll; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.header {
  position: fixed;
  top: 0;
  padding-top: 2px;
  width: 100%;
  z-index: 1000; }
  .header a {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  .header .to_top {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 3px;
    line-height: 50px;
    font-size: 24px;
    z-index: 1000; }
  .header .toggle_menu {
    font-size: 24px;
    line-height: 50px;
    position: absolute;
    top: 3px;
    left: 30px;
    display: none;
    cursor: pointer;
    z-index: 1000; }
  .header .header_menu {
    margin-left: 30px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s; }
    .header .header_menu li {
      float: left;
      line-height: 50px;
      padding-right: 30px; }

.teaser {
  position: relative;
  left: 0;
  min-height: 100%;
  top: 0;
  right: 0;
  z-index: 10; }
  .teaser video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100; }
  .teaser .top_text {
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 0 40px;
    left: 0;
    z-index: 100; }
    .teaser .top_text .blog_tittle {
      font-size: 60px;
      text-transform: uppercase;
      font-family: "Lobster", serif;
      white-space: pre;
      font-weight: 400; }
    .teaser .top_text .big_line {
      height: 5px;
      border-radius: 5px;
      width: 100%;
      opacity: 0.7; }
    .teaser .top_text .blog_description {
      font-size: 36px;
      font-family: "Lobster", serif;
      text-align: right;
      margin-top: 30px;
      opacity: 0.7; }

.footer {
  z-index: 200;
  padding: 4000px 0; }

@media (max-width: 959px) {
  .teaser video {
    display: none; }

  .teaser {
    background: url("../images/teaser-bg-big.jpg") 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover; } }
@media (max-width: 767px) {
  .header .toggle_menu {
    display: block; }
    .header .toggle_menu.active {
      opacity: 0.5; }
  .header .header_menu {
    display: none; }
    .header .header_menu.active {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 500;
      right: 0;
      top: 0;
      margin: 0;
      display: block; }
      .header .header_menu.active ul {
        margin-top: 120px; }
    .header .header_menu li {
      float: none;
      line-height: 75px;
      text-align: center;
      padding: 0; }
      .header .header_menu li:hover {
        background-color: rgba(255, 255, 255, 0.1); }

  .teaser {
    background: url("../images/teaser-bg.jpg") 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover; } }

/*# sourceMappingURL=main.css.map */
