@import "../bourbon/bourbon"

$color: #2b75d8
//Theme skin
$text_color: #fefefe
$main_color: #3a3a3a
$bg_light: #bfbfbf

@mixin kerning($kerning)
  letter-spacing: $kerning + px

.header
  background-color: rgba(0,0,0,.3)
  .toggle_menu
    color: $text_color
  .header_menu
    li
      a
        color: $text_color
        +kerning(1)
        &:hover
          color: $color
  .to_top
    a
      color: $text_color
  a:hover
    color: $color

.top_text
  .blog_tittle
    +kerning(7)
    color: $text_color
  .blog_description
    color: $color
    +kerning(3)